Description=Lance le service de sauvegarde de base de donnée à 3h30
Requires=tp2_backup_db.service

[Timer]
Unit=tp2_backup_db.service
OnCalendar=*-*-* 3:30:00

[Install]
WantedBy=timers.target